<h1>You are seeing the BestDeals#ProductDeal of our Best Deals!!</h1>

<div class="space-btn">
  <div class="back-btn">
    <%= link_to "Back", newest_product_path(@category)%>
  </div>
</div>
<p>Name: <%= @product.name %></p>
<p>Price: <%= @product.price %>€</p>
<% if policy(@product).update? %>
  <p class=“btn btn-primary”><%= link_to "Edit product", edit_category_product_path(@category, @product) %></p>
<% end %>
<% if policy(@product).destroy? %>
  <p class=“btn btn-primary”><%= link_to "Remove product", category_product_path(@category, @product), method: :delete %></p>
<% end %>

