<div class="space-bar">
  <div class="back-btn">
    <%= link_to "Back", categories_path %>
  </div>
  <h2>In <%= @category.name %></h2>
</div>
<div class="sub-c-banner">
  <div class="back-btn">
    <%= link_to "All", newest_products_path %>
  </div>
  <% @categories.each do |category| %>
    <%= link_to "#{category.name}", newest_product_path(category) %>
    <%#= category.name %>
    <%#= link_to 'Show products', category_products_path(@category, category.id), method: :get%>
    <%#= link_to 'Show category', category_path(category), method: :get%>
  <% end %>
  <div class="back-btn">
    <%= link_to "Get Lucky!", '#' %>
  </div>
</div>

<!-- <h3>All Products from <%#= @sub_category.name %></h3> -->
<div class="products-grid">
  <% @sorted_products = @products.sort_by{|product| product.created_at }.reverse! %>
  <% @sorted_products.each do |product| %>
    <div class="product-card">
      <%= link_to "#{product.name}", product_show_path(@category, product), method: :get%>
      <%= product.price %>€
    </div>
  <% end %>
</div>
<%#= link_to "New product", new_category_sub_category_product_path(@category, @sub_category) %>

