<%= render 'categories/banner' %>
<div class="app-container">

  <div class="sub-c-banner">
    <div class="back-btn">
      <%= link_to "All", newest_products_path %>
    </div>
    <% @categories.each do |category| %>
      <%= link_to "#{category.name}", newest_product_path(category) %>
    <% end %>
    <div class="back-btn">
      <%= link_to "Get Lucky!", '#' %>
    </div>
  </div>

  <div class="products-grid">
    <% @sorted_products = @products.sort_by{|product| product.created_at }.reverse! %>
    <% @sorted_products.each do |product| %>
      <div class="product_linker">
        <div class="product_img">
          <img src="https://www.fillmurray.com/200/300" alt="product_description">
        </div>
        <%= link_to product_show_path(@category, product) do %>
          <div class="product_card">
            <div class="hover_dark"></div>
            <div class="info_card">
              <div>
                <%= product.name %>
              </div>
              <div>
                <%= product.price %>€
              </div>
            </div>
          </div>
        <% end %>
        <div class="hover_links">
          <div class="links_product">
            <%= link_to '#' do %>
              <div class="link_svg"><%= show_svg('icons/heart.svg') %></div>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
          <div class="links_product">
            <%= link_to '#' do %>
              <i class="link_svg"><%= show_svg('icons/supermarket.svg') %></i>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
