<nav>
  <div class="navbar-mobily">
      <ul class="navbar-links">
        <li class="navbar-logo">
          <%= link_to "Mobily.", categories_path %>
        </li>
        <li>
          <div class="navbar-search-btn">
            <form class="form-inline">
                <%= form_tag "#", method: :get do %>
                  <%#= submit_tag <i class="fas fa-search"></i>, class: "search-glass" %>
                    <!-- <i class="fas fa-search"></i>
                  <%# end %> -->
                  <%= button_tag(type: 'submit', class: "search-glass") do %>
                    <%= "<i class='fas fa-search'></i>".html_safe %>
                  <% end %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "search-text",
                    placeholder: "Search"
                  %>
                <% end %>
            </form>
          </div>
        </li>
        <li class="navbar-user">
          <div class="nav-main">
            <%= link_to "#", class: "nav-item" do %>
              <%= image_tag "logo/octocat.png", class: "avatar" %>
            <% end %>
            <div class="nav-content">
              <div class="nav-sub">
                <ul>
                  <li>
                    <%= link_to "Invite a Friend", root_path, class: "dropdown-item" %>
                    <i class="fas fa-chevron-right"></i>
                  </li>
                  <li>
                    <%= link_to "Settings", "#", class: "dropdown-item" %>
                    <i class="fas fa-chevron-right"></i>
                  </li>
                  <li>
                    <%= link_to "Privacy", "#", class: "dropdown-item" %>
                    <i class="fas fa-chevron-right"></i>
                  </li>
                  <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    <i class="fas fa-chevron-right"></i>
                  </li>
                  <li>
                    <%= link_to "Report a Problem", "#", class: "dropdown-item" %>
                    <i class="fas fa-chevron-right"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="navbar-sell-btn">
            <%= link_to "Sell", new_product_path %>
          </div>
          <%#= link_to "New product", new_category_sub_category_product_path(@category, @sub_category) %>
        </li>
      </ul>
  </div>
</nav>
