<div class="container-landing">
  <div class="bg_landing">
    <%= image_tag("login/LandingBG.jpg", alt: "alttext") %>
    <div class="bg_dark"></div>
  </div>
  <div class="title-ban">
    <h1>Mobily.</h1>

    <p>The platform where you will find everything that you<br>may need in your new flight at the <strong>cheapest price!</strong></p><br>

    <p>We will not add you on our newsletter list unless <strong>you</strong><br>specifically ask us to!</p><br>

    <p>Login is required only to guarantee <strong>your</strong> personal<br>safety!</p><br>

    <p class="bold-white"><strong>We will be happy only when you are!</strong></p>
  </div>
  <div class="signup">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource, url: registration_path(resource)) do |f| %>
      <%#= f.error_notification %>

      <div class="form-inputs">
        <%= f.email_field :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          input_html: { autocomplete: "email" }%>
        <%= f.password_field :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            label: false,
                            input_html: { autocomplete: "new-password" } %>
        <%= f.password_field :password_confirmation,
                            required: true,
                            label: false,
                            input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>
