<div class="container-landing">
  <div class="title-ban">
    <h1>Mobily.</h1>

    <p>The platform where you will find everything that you<br>may need in your new flat at the <strong>cheapest price!</strong></p><br>

    <p>We will not add you on our newsletter list unless <strong>you</strong><br>specifically ask us to!</p><br>

    <p>Login is required only to guarantee <strong>your</strong> personal<br>safety!</p><br>

    <p class="bold-white"><strong>We will be happy only when you are!</strong></p>
  </div>
  <div class="bg_landing">
    <%= image_tag("login/LandingBG.jpg", alt: "Looking for something to decorate your living room or you bedroom in your new flat? You will find here everything you need!") %>
    <div class="bg_dark"></div>
  </div>
  <div class="signup">
    <div>
      <h2>Create a new account</h2>
      <p>It's quick and easy.</p>
    </div>

    <%= form_for(resource, as: resource, url: registration_path(resource)) do |f| %>
      <%= render "devise/shared/error_messages", target: resource %>

      <div class="form-styling">
        <div>
          <%= f.text_field :first_name,
                          required: true,
                          placeholder: "First Name",
                          autocomplete: "off" %>
                          <!-- autofocus: true, -->
                          <!-- label: false, -->

          <%= f.text_field :family_name,
                          required: true,
                          placeholder: "Family Name",
                          autocomplete: "off" %>
                          <!-- label: false, -->
        </div>
        <div>
          <%= f.text_field :username,
                          required: true,
                          placeholder: "Username",
                          autocomplete: "off" %>
                          <!-- label: false, -->

          <%= f.email_field :email,
                           required: true,
                           placeholder: "Email",
                           autocomplete: "off" %>
                           <!-- label: false, -->
        </div>
        <div>
          <%= f.password_field :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              placeholder: "Password",
                              autocomplete: "new-password" %>
                              <!-- label: false, -->

          <%= f.password_field :password_confirmation,
                              required: true,
                              placeholder: "Password Confirmation",
                              autocomplete: "new-password" %>
                              <!-- label: false, -->
        </div>
        <div>
          <%= f.text_field :address,
                          required: true,
                          placeholder: "Address",
                          autocomplete: "off" %>
                          <!-- label: false, -->
        </div>
        <p id="small_letters_signup"><em>To be able to show you the closest products to your location</em></p>
        <div class="bottom-signup">
          <div class="sign-up-btn">
            <%= f.submit "Sign up" %>
          </div>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Sign up with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
            <% end %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
