<%#= render 'categories/banner' %>
<div class="app-container">

  <div class="sub-c-banner">
    <div class="back-btn">
      <%= link_to "All", category_products_path(@category, @product) %>
    </div>
    <% @sub_categories.each do |sub_category| %>
      <%= link_to "#{sub_category.name}", category_sub_category_path(@category, sub_category) %>
    <% end %>
    <div class="back-btn">
      <%= link_to "Get Lucky!", '#' %>
    </div>
  </div>

  <div class="products-grid">
    <% @products.each do |product| %>
      <div class="product_linker">
        <div class="product_img">
          <img src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80" alt="product_description">
        </div>
        <%= link_to category_product_path(@category, product) do %>
          <div class="product_card">
            <div class="hover_dark"></div>
            <div class="info_card">
              <div>
                <%= product.name %>
              </div>
              <div>
                <%= product.price %>€
              </div>
            </div>
          </div>
        <% end %>
        <div class="hover_links">
          <div class="links_product">
            <%= link_to '#' do %>
              <div class="link_svg"><%= show_svg('icons/heart.svg') %></div>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
          <div class="links_product">
            <%= link_to '#' do %>
              <i class="link_svg"><%= show_svg('icons/supermarket.svg') %></i>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
