<%= render 'shared/banner' %>
<%= render 'shared/sub_header_small' %>
<div class="app-container">

  <div class="page_title">
    <h1>Welcome to your Wishlist!</h1>
    <p><em>Happy window shopping</em></p>
  </div>

  <% if current_user.wishlist.savings.empty? %>
    <div class="empty_wishlist_cont">
      <div class="bg_empty_wishlist">
        <%= image_tag("local/empty_flat_mobily.jpg", alt: "alttext") %>
        <div class="bg_dark_empty"></div>
        <div class="subtitle_empty">
          <h2>😪 👀 👀<br>Unfortunately your wishlist is still empty</h2>
          <p><em>Have a tour of our app to find what you like best!! 😉</em></p>
        </div>
      </div>
    </div>
  <% else %>

    <div class="product_grid_cont">

      <div class="products-grid">
        <% product_array = [] %>

        <% sorted_savings = current_user.savings.sort_by{|saving| saving.created_at }.reverse! %>

        <% sorted_savings.each do |item| %>
          <% product_array << item.product_id %>
        <% end %>

        <% @sorted_wishlist = current_user.wishlist.products.sort_by{ |product| product_array.index(product.id) || Float::INFINITY } %>

        <% @sorted_wishlist.each do |product| %>
          <div class="product_linker">
            <div class="product_img">
              <%= cl_image_tag product.image.key %>
            </div>
            <%= link_to wishlist_path(product) do %>
              <div class="product_card">
                <div class="hover_dark"></div>
                <div class="info_card">
                  <div>
                    <%= product.name %>
                  </div>
                  <div>
                    <%= product.price %>€
                  </div>
                </div>
              </div>
            <% end %>
            <div class="hover_links">
              <div class="links_product">
                <%= link_to delete_saving_path(@wishlist, product), { method: :delete, data: { confirm: "Are you sure about deleting #{product.name} from your Wishlist?" } } do %>
                  <div class="link_svg"><%= show_svg('icons/heart_full.svg') %></div>
                <% end %>
                <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
              </div>
              <div class="links_product">
                <%= link_to '#' do %>
                  <i class="link_svg"><%= show_svg('icons/supermarket.svg') %></i>
                <% end %>
                <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  <% end %>

  <%= render 'shared/retarget_slider' %>
  <%= render 'shared/footer' %>
</div>

