
<%= render 'shared/banner' %>
<div class="app-container">

  <h1>Wishlists#index</h1>
  <p>Find me in app/views/wishlists/index.html.erb</p>

  <!-- <div class="sub-c-banner">
    <div class="back-btn">
      <%#= link_to "All", wishlists_path %>
    </div>
    <%# @categories.each do |category| %>
      <div class="<%#= active_on_page_category("best_deals", category.id) %>">
        <%#= link_to "#{category.name}", best_deal_path(category) %>
      </div>
    <%# end %>
    <div class="back-btn">
      <%#= link_to "Get Lucky!", '#' %>
    </div>
  </div> -->

  <div class="products-grid">
    <% @sorting_products = @products.sort_by{|product| product.created_at }.reverse! %>
    <% @sorting_products.each do |product| %>
      <div class="product_linker">
        <div class="product_img">
          <%= cl_image_tag product.image.key %>
        </div>
        <%= link_to wishlist_path(product) do %>
          <div class="product_card">
            <div class="hover_dark"></div>
            <div class="info_card">
              <div>
                <%= product.name %>
              </div>
              <div>
                <%= product.price %>€
              </div>
            </div>
          </div>
        <% end %>
        <div class="hover_links">
          <div class="links_product">
            <%= link_to delete_saving_path(@wishlist, product), { method: :delete, data: { confirm: "Are you Sure about Deleting #{product.name} from your Wishlist?" } } do %>
              <div class="link_svg"><%= show_svg('icons/heart.svg') %></div>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
          <div class="links_product">
            <%= link_to '#' do %>
              <i class="link_svg"><%= show_svg('icons/supermarket.svg') %></i>
            <% end %>
            <div class="icon_made_by">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/footer' %>
</div>

