        <h2>Confirmation</h2>
        <p><em>Please validate the information herein provided</em></p>

        <p>
        <strong>Name: </strong>
        <%= @product.name %>
        </p>

        <p>
        <strong>Category: </strong>
        <% category_id = @product.category_id %>
        <% category = Category.find(category_id) %>
        <%= category.name %>
        </p>

        <p>
        <strong>In: </strong>
        <%= @product.sub_category.name %>
        </p>

        <p>
        <strong>Description: </strong>
        <%= @product.description %>
        </p>

        <p>
        <strong>Price: </strong>
        <%= @product.price %>
        </p>

        <div>
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>
