<%#= render 'categories/banner' %>
<div class="container_sale">
  <div class="bg_landing">
    <%= image_tag("login/LandingBG.jpg", alt: "alttext") %>
    <div class="bg_dark_sale"></div>
  </div>

  <div class="exit_sales_btn">
    <%= link_to newest_products_path do %>
      <i class="far fa-times-circle"></i>
    <% end %>
  </div>

  <div class="step_show">
    <% if @product.last_step? %>
      <div class="step_card"><em>1</em></div>
      <div class="sep_line"></div>
      <div class="step_card_focus"><em>2</em></div>
      <div class="sep_line"></div>
      <div class="step_card"><em>3</em></div>
    <% else %>
      <div class="step_card_focus"><em>1</em></div>
      <div class="sep_line"></div>
      <div class="step_card"><em>2</em></div>
      <div class="sep_line"></div>
      <div class="step_card"><em>3</em></div>
    <% end %>
  </div>

  <div class="sale_card">

    <%= form_for @product, url: update_product_path do |f| %>

      <div class="form-sale">
        <div class="sale_content">
          <%= render "#{@product.current_step}_step", :f => f  %>
        </div>
        <div class="submit_sale">
          <div class="orange_line_bottom"></div>
          <% if @product.last_step? %>
            <%= f.submit "Back", :name => "back_button", :class => 'sale_back_btn' %>
              <%# category_id = @product.category_id %>
              <%# category = Category.find(category_id) %>
              <%# category.name %>
            <div class="sale_bottom_link">
              <div class="submit-btn-sale">
                <% hash_stored = session[:params_product] %>
                <% targeted_cat = hash_stored["category_id"] %>
                <% product_name = hash_stored["name"] %>
                <% selected_category = Category.find(targeted_cat) %>
                <% cat_name = selected_category.name %>

                <%= f.submit "Submit Product", data: { confirm: "Are you sure that all the data you entered for: #{product_name} stored in the category: #{cat_name} is correct? Have a second look just in case 😉" } %>
              </div>
            </div>
          <% else %>
            <div></div>
            <%#= f.submit "Back", :name => "back_button", :class => 'sale_back_btn' unless @product.first_step? %>
            <div class="sale_bottom_link">
              <div class="submit-btn-sale">
                <%= f.submit "Next Step" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>

      <!-- <div class="form_title" id="title_edit">
        <h4>To update your Product<br>It's quick and easy.</h4>
      </div>

      <div class="edit_title_styling"></div>
      <div class="orange_line_title" id="line_title_edit"></div> -->

    <%#= render 'form', product: @product , category: @product.category %>

  </div>
  <%#= render 'shared/footer' %>
</div>
