<%= render 'categories/banner' %>
<div class="app-container">
  <h1>Products#new</h1>
  <p>Find me in app/views/products/new.html.erb</p>
    <div>
      <h2>To sell a Product</h2>
      <p>It's quick and easy.</p>
    </div>
    <%= form_for @product, url: create_new_product_path do |f| %>
      <div class="form-styling">
        <%= render "#{@product.current_step}_step", :f => f  %>
        <div class="bottom-signup">
          <%= f.submit "Continue" unless @product.last_step? %>
          <%= f.submit "Submit Product" if @product.last_step? %>
          <%= f.submit "Back", :name => "back_button" unless @product.first_step? %>
        </div>
      </div>
    <% end %>
    <%= link_to "Exit", newest_products_path %>
</div>
